<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jnv.mis.hre.std.service.EvalStepDAO">

    <select id="getEvalStepList" parameterType="map" resultType="evalStepVO">
        /*Hre3030-mapper.getEvalTypeList*/
        SELECT S.EVAL_YEAR
       		 , S.EVAL_ID
       		 , I.EVAL_NM
       		 , S.EVAL_STEP_CD
       		 , S.EVAL_STEP_START_DATE
       		 , S.EVAL_STEP_END_DATE
       		 , S.USE_YN
          FROM HRE_EVAL_STEP S
     LEFT JOIN HRE_EVAL_ID I
     		ON S.EVAL_ID = I.EVAL_ID
       <where>
         <if test="evalYear != null and evalYear != ''">
           AND S.EVAL_YEAR = #{evalYear}
         </if>
         <if test="evalNm != null and evalNm != ''">
           AND I.EVAL_NM = #{evalNm}
         </if>
       </where>
       ORDER BY S.EVAL_ID

    </select>

    <insert id="insertEvalStep" parameterType="evalStepVO">
        /* Hre3030-mapper.insertEvalStep */
        INSERT
          INTO HRE_EVAL_STEP (  EVAL_YEAR
				       		  , EVAL_ID
				       		  , EVAL_STEP_CD
				       		  , EVAL_STEP_START_DATE
				       		  , EVAL_STEP_END_DATE
				       		  , USE_YN)
                   VALUES ( #{evalYear}
                          , #{evalId}
                          , #{evalStepCd}
                          , #{evalStepStartDate}
                          , #{evalStepEndDate}
                          , #{useYn})
    </insert>

    <update id="updateEvalStep" parameterType="evalStepVO">
        /* Hre3030-mapper.updateEvalStep */
        UPDATE HRE_EVAL_STEP
           SET EVAL_YEAR    	     = #{evalYear}
             , EVAL_STEP_START_DATE  = #{evalStepStartDate}
             , EVAL_STEP_END_DATE    = #{evalStepEndDate}
             , USE_YN           	 = #{useYn}
         WHERE EVAL_ID   			 = #{evalId}
           AND EVAL_STEP_CD          = #{evalStepCd}
    </update>

    <delete id="deleteEvalStep" parameterType="evalStepVO">
        /* Hre3030-mapper.deleteEvalStep */
        DELETE
          FROM HRE_EVAL_STEP
         WHERE EVAL_ID         = #{evalId}
           AND EVAL_STEP_CD    = #{evalStepCd}
    </delete>

</mapper>