<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnv.mis.hre.std.service.EvalGradeDAO">
	<select id="getEvalGradeList" parameterType="map" resultType="EvalGradeVO">
		SELECT EVAL_ID
		     , EVAL_GRADE
		     , EVAL_POINT_RANGE
		     , EVAL_POINT_ROUND_OPTION
		     , USE_YN
		  FROM HRE_EVAL_GRADE
		<where>
	         <if test="evalId != null and evalId != ''">
	           AND EVAL_ID LIKE '%' || #{evalId} || '%'
	         </if>
	         <if test="evalGrade != null and evalGrade != ''">
	           AND EVAL_GRADE = #{evalGrade}
	         </if>
        </where>
	</select>
	<insert id="insertEvalGrade" parameterType="EvalGradeVO">
        insert into 
        	hre_eval_grade( EVAL_ID
                            , EVAL_GRADE
                            , EVAL_POINT_RANGE
                            , USE_YN ) 
                            values(
                            #{evalId}
                            ,#{evalGrade}
                            , #{evalPointRange}
                            , #{useYn})
    </insert>
    
     <update id="updateEvalGrade" parameterType="EvalGradeVO">
        UPDATE HRE_EVAL_GRADE
           SET EVAL_POINT_RANGE	= #{evalPointRange}
             , USE_YN = #{useYn}
         WHERE EVAL_ID = #{evalId}
    </update>

    <delete id="deleteEvalGrade" parameterType="EvalGradeVO">
        DELETE
          FROM HRE_EVAL_GRADE
         WHERE EVAL_ID = #{evalId}
         AND	EVAL_GRADE = #{evalGrade}
    </delete>

    <select id="getDuplicatedKeyCnt" parameterType="EvalGradeVO" resultType="int">
        SELECT COUNT(*)
          FROM HRE_EVAL_GRADE
         WHERE EVAL_ID = #{evalId}
           AND EVAL_GRADE = #{evalGrade}
    </select>
</mapper>