<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnv.mis.hre.service.Hre3010DAO">
	<select id="getStdMgtList" parameterType="map" resultType="Hre3010VO">
		select * from hre_std_mgt
	</select>
	
	<select id="selecthreCodeCombo" parameterType="map" resultType="comboVO">
        /* common-mapper.selectCommonCodeCombo */
        <choose>
            <when test='"a".equalsIgnoreCase(type)'>
		        SELECT '전체' AS "text"
		             , NULL AS "value"
		        UNION ALL
            </when>
            <when test='"c".equalsIgnoreCase(type)'>
		        SELECT '선택' AS "text"
		             , NULL AS "value"
		        UNION ALL
            </when>
        </choose>
        SELECT "text", "value"
          FROM (SELECT COMM_NM AS "text"
                     , COMM_CD AS "value"
                 FROM HRE_STD_MGT
                 WHERE up_comm_cd = #{upCommCd}
                 ORDER BY ORD_NO) t
    </select>
    
</mapper>