<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnv.mi.login.service.FindIdPasswordDAO">

    <select id="getUserId" parameterType="map" resultType="string">
        /* find-id-password-mapper.getUserId */
        SELECT PM.MEMBER_ID
          FROM PTS_MEMBER PM
          JOIN CMN_USER CU
            ON PM.MEMBER_ID = CU.MEMBER_ID
         WHERE PM.USE_YN = 'Y'
           AND CU.USE_YN = 'Y'
           AND PM.MEMBER_NM_KR = #{userNmKr}
           AND PM.EML_ADDR = #{emlAddr}
           AND PM.MBL_TELNO = #{mblTelno}
         FETCH FIRST 1 ROW ONLY
    </select>

    <select id="getUserExists" parameterType="map" resultType="_boolean">
        /* find-id-password-mapper.getUserExists */
        SELECT COUNT(*)
          FROM PTS_MEMBER PM
          JOIN CMN_USER CU
            ON PM.MEMBER_ID = CU.MEMBER_ID
         WHERE PM.USE_YN = 'Y'
           AND CU.USE_YN = 'Y'
           AND PM.MEMBER_ID  = #{memberId}
           AND PM.MEMBER_NM_KR = #{userNmKr}
           AND PM.EML_ADDR = #{emlAddr}
           AND PM.MBL_TELNO = #{mblTelno}
    </select>

    <update id="updatePassword" parameterType="map">
        /* find-id-password-mapper.updatePassword */
        UPDATE PTS_MEMBER
           SET PASSWD = NULLIF(#{passwd}, '')
         WHERE MEMBER_ID = #{memberId}
    </update>
</mapper>
