<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnv.sm.code.service.CommonCodeManageDAO">

    <select id="getCodeHeaderList" parameterType="map" resultType="commonCodeHeaderVO">
        /* common-code-manage-mapper.getCodeHeaderList */
        SELECT H.SYS_ID
             , H.MODULE_ID
             , H.HEADER_CODE
             , H.HEADER_CODE_NM_KR
             , H.HEADER_CODE_NM_EN
             , H.HEADER_CODE_DC
             , H.USE_YN
             , H.SORT_ORDR
             , H.UPDT_ID
             , H.UPDT_IP
             , (SELECT USER_NM_KR FROM CMN_USER WHERE USER_ID = H.UPDT_ID) AS UPDT_NM
             , TO_CHAR(H.UPDT_DT, 'YYYY-MM-DD') AS UPDT_DT
             , H.CHK_CNT_SQL
          FROM CMN_CODE_HEADER H
         WHERE 1=1
        <if test='moduleId != null and moduleId != "" and moduleId != "undefined"'>
           AND H.MODULE_ID LIKE '%' || #{moduleId} || '%'
        </if>
        <if test='headerCode != null and headerCode != "" and headerCode != "undefined"'>
           AND H.HEADER_CODE LIKE '%' || #{headerCode} || '%'
        </if>
        <if test='headerCodeNmKr != null and headerCodeNmKr != "" and headerCodeNmKr != "undefined"'>
           AND H.HEADER_CODE_NM_KR LIKE '%' || #{headerCodeNmKr} || '%'
        </if>
         ORDER BY H.HEADER_CODE
    </select>

    <select id="getCodeLineList" parameterType="map" resultType="commonCodeLineVO">
        /* common-code-manage-mapper.getCodeLineList */
        SELECT L.SYS_ID
             , L.MODULE_ID
             , L.HEADER_CODE
             , L.LINE_CODE
             , L.LINE_CODE_NM_KR
             , L.LINE_CODE_NM_EN
             , L.LINE_CODE_DC
             , L.SORT_ORDR
             , L.USE_YN
             , L.USE_YMD
             , L.END_YMD
             , L.UPDT_ID
             , L.UPDT_IP
             , L.UPDT_DT
             , L.HEADER_CODE_NM_KR
             , L.HEADER_CODE_NM_EN
             , L.HEADER_CODE_DC
          FROM CMN_CODE_LINE L
         WHERE L.HEADER_CODE = #{headerCode}
         ORDER BY L. SORT_ORDR
    </select>

    <insert id="insertCodeHeader" parameterType="commonCodeHeaderVO">
        /* common-code-manage-mapper.insertCodeHeader */
        INSERT
          INTO CMN_CODE_HEADER ( HEADER_CODE
                              , HEADER_CODE_NM_KR
                              , HEADER_CODE_NM_EN
                              , HEADER_CODE_DC
                              , USE_YN
                              , MODULE_ID
                              , SYS_ID
                              , RGST_ID
                              , RGST_DT
                              , RGST_IP
                              , UPDT_ID
                              , UPDT_DT
                              , UPDT_IP)
                       VALUES ( #{headerCode}
                              , #{headerCodeNmKr}
                              , #{headerCodeNmEn}
                              , #{headerCodeDc}
                              , #{useYn}
                              , #{moduleId}
                              , #{sessionSysId}
                              , #{sessionUserId}
                              , SYSDATE
                              , #{sessionUserIp}
                              , #{sessionUserId}
                              , SYSDATE
                              , #{sessionUserIp})
    </insert>

    <update id="updateCodeHeader" parameterType="commonCodeHeaderVO">
        /* common-code-manage-mapper.updateCodeHeader */
        UPDATE CMN_CODE_HEADER
           SET HEADER_CODE                = #{headerCode}
             , HEADER_CODE_NM_KR           = #{headerCodeNmKr}
             , HEADER_CODE_NM_EN           = #{headerCodeNmEn}
             , HEADER_CODE_DC             = #{headerCodeDc}
             , USE_YN                   = #{useYn}
             , MODULE_ID                 = #{moduleId}
             , UPDT_ID                   = #{sessionUserId}
             , UPDT_IP                   = #{sessionUserIp}
             , UPDT_DT                  = SYSDATE
         WHERE SYS_ID                     = #{sysId}
           AND MODULE_ID                 = #{moduleId}
           AND HEADER_CODE                 = #{headerCode}
    </update>

    <delete id="deleteCodeHeader" parameterType="commonCodeHeaderVO">
        /* common-code-manage-mapper.deleteCodeHeader */
        DELETE
          FROM CMN_CODE_HEADER
         WHERE SYS_ID                 = #{sysId}
           AND MODULE_ID             = #{moduleId}
           AND HEADER_CODE             = #{headerCode}
    </delete>

    <delete id="deleteCodeHeaderLine" parameterType="commonCodeHeaderVO">
        /* common-code-manage-mapper.deleteCodeHeaderLine */
        DELETE
          FROM CMN_CODE_LINE
         WHERE SYS_ID                 = #{sysId}
           AND MODULE_ID             = #{moduleId}
           AND HEADER_CODE             = #{headerCode}
    </delete>

    <insert id="insertCodeLine" parameterType="commonCodeLineVO">
        /* common-code-manage-mapper.insertCodeLine */
        INSERT
          INTO CMN_CODE_LINE ( HEADER_CODE
                              , LINE_CODE
                              , LINE_CODE_NM_KR
                              , LINE_CODE_NM_EN
                              , LINE_CODE_DC
                              , SORT_ORDR
                              , USE_YN
                              , MODULE_ID
                              , SYS_ID
                              , RGST_ID
                              , RGST_DT
                              , RGST_IP
                              , UPDT_ID
                              , UPDT_DT
                              , UPDT_IP)
                       VALUES ( #{headerCode}
                              , #{lineCode}
                              , #{lineCodeNmKr}
                              , #{lineCodeNmEn}
                              , #{lineCodeDc}
                              , #{sortOrdr}
                              , #{useYn}
                              , #{moduleId}
                              , #{sessionSysId}
                              , #{sessionUserId}
                              , SYSDATE
                              , #{sessionUserIp}
                              , #{sessionUserId}
                              , SYSDATE
                              , #{sessionUserIp})
    </insert>

    <update id="updateCodeLine" parameterType="commonCodeLineVO">
        /* common-code-manage-mapper.updateCodeLine */
        UPDATE CMN_CODE_LINE
           SET HEADER_CODE                = #{headerCode}
             , LINE_CODE                   = #{lineCode}
             , LINE_CODE_NM_KR           = #{lineCodeNmKr}
             , LINE_CODE_NM_EN           = #{lineCodeNmEn}
             , LINE_CODE_DC             = #{lineCodeDc}
             , SORT_ORDR                   = #{sortOrdr}
             , USE_YN                   = #{useYn}
             , UPDT_ID                   = #{sessionUserId}
             , UPDT_IP                   = #{sessionUserIp}
             , UPDT_DT                  = SYSDATE
         WHERE SYS_ID                     = #{sysId}
           AND MODULE_ID                 = #{moduleId}
           AND HEADER_CODE                 = #{headerCode}
           AND LINE_CODE                 = #{lineCode}
    </update>

    <delete id="deleteCodeLine" parameterType="commonCodeLineVO">
        /* common-code-manage-mapper.deleteCodeLine */
        DELETE
          FROM CMN_CODE_LINE
         WHERE SYS_ID                 = #{sysId}
           AND MODULE_ID             = #{moduleId}
           AND HEADER_CODE             = #{headerCode}
           AND LINE_CODE             = #{lineCode}
    </delete>

    <select id="getDuplicatedKeyCnt" parameterType="commonCodeLineVO" resultType="int">
        /* common-code-mapper.getDuplicatedKeyCnt */
        SELECT COUNT(*)
          FROM CMN_CODE_HEADER
         WHERE SYS_ID       = #{sessionSysId}
           AND MODULE_ID    = #{moduleId}
           AND HEADER_CODE  = #{headerCode}
    </select>

    <select id="getDuplicatedKeyCnt2" parameterType="commonCodeHeaderVO" resultType="int">
        /* common-code-mapper.getDuplicatedKeyCnt2 */
        SELECT COUNT(*)
          FROM CMN_CODE_LINE
         WHERE SYS_ID       = #{sessionSysId}
           AND MODULE_ID    = #{moduleId}
           AND HEADER_CODE  = #{headerCode}
           AND LINE_CODE    = #{lineCode}
    </select>
</mapper>
